.navbar {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--mantine-spacing-md);
  box-sizing: border-box;
  border-right: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-7)
  );
}

.navbarMain {
  flex: 1;
  overflow-y: auto;
}

.header {
  padding-bottom: var(--mantine-spacing-md);
  margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  padding-top: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-md);
  border-top: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;
  margin-bottom: var(--mantine-spacing-xs);
  transition:
    background-color 0.15s ease,
    color 0.15s ease;
}

.link:hover {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.link:hover .linkIcon {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.link[data-active] {
  background-color: var(--mantine-primary-color-filled);
  color: var(--mantine-color-white);
}

.link[data-active] .linkIcon {
  color: var(--mantine-color-white);
}

.linkIcon {
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
  margin-right: var(--mantine-spacing-sm);
  width: 25px;
  height: 25px;
}

@media (max-width: 48em) {
  .navbar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid
      light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  }
}

.header button {
  margin-left: auto;
}
